<div style="overflow-y: scroll; background: black;">
<div class="container-fluid home" >
    <div class="row align-items-center justify-content-center">
       <div class="col=12 mt-3" style="height:100vh">
           <div  class="p-5" style="background: black;">
             <h1 class="display-4">Ready your data for action with Q.Refinery</h1>
             
             <hr class="my-4">
             <p>Some say data is the new oil. But just like oil, bank transaction data isn’t much use in its crudest form. Q.Refinery cleanses and enriches data with unparalleled speed and accuracy, readying it for action.</p>
             <p class="lead" style="text-align: center;">
               <a class="btn btn-light btn-lg" routerLink="/transactions" role="button">Start Demo</a>
             </p>
             <div>
                <div class="row">
                    <div class="col-md-12 mb-4">
                
                        <div class="card" >
                            <div class="card-block">
                                <div class="embed-responsive embed-responsive-16by9">
                                   <iframe style="z-index: 1" src="https://www.youtube.com/embed/qcDrQptRuKg?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       </div>
    </div>
   </div>
   
</div>
</div>
