
    <div class="card">
      <div class="card-header" style="background: white" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <a class="btn btn-primary " style="color:white" role="button"><strong>GET</strong></a> 
            <span style="padding-left:20px">/termtexts</span>
          </button>
        </h5>
      </div>
  
        <div class="card-body">
          <div class="container-fluid" style="min-width:100%;min-height: 100%;">
              <p>"Get Contains" : Retruns merchant information about the transaction.</p>
              <table class="table table-striped table-condensed">   

                  <tbody>
                    <tr>
                      <td>Protocol</td>
                      <td>HTTP</td>
                    </tr>
                    <tr>
                      <td>Argument</td>
                      <td>?contains=<strong>Search String</strong><br>
                        <small>(type:string)</small>
                      </td>
                    </tr>
                    <tr>
                      <td>Response Info</td>
                        <td>  <span style="display:block; background: rgba(49, 47, 47, 0.253); color:white;border-radius: 15px" >
                            
                              <pre>
    standardisedText
    brand           
    cardPresent     
    suburb          
    state           
    postCode        
    latitude        
    longitude       
    level1          
    level2          
    level3          
    level4         
                               </pre>
                            
                             </span>
                        
                      </td>
                    </tr>
                  </tbody>
                </table>

          </div>
        </div>
     
    
  </div>









